<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>smoke0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{160,46}}</string>
                <key>offset</key>
                <string>{10,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,61},{160,46}}</string>
                <key>sourceSize</key>
                <string>{320,150}</string>
            </dict>
            <key>smoke0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,182},{228,64}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,50},{228,64}}</string>
                <key>sourceSize</key>
                <string>{320,150}</string>
            </dict>
            <key>smoke0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,98},{272,82}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,40},{272,82}}</string>
                <key>sourceSize</key>
                <string>{320,150}</string>
            </dict>
            <key>smoke0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,98},{288,80}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,34},{288,80}}</string>
                <key>sourceSize</key>
                <string>{320,150}</string>
            </dict>
            <key>smoke0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{282,86}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,27},{282,86}}</string>
                <key>sourceSize</key>
                <string>{320,150}</string>
            </dict>
            <key>smoke0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{308,94}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,32},{308,94}}</string>
                <key>sourceSize</key>
                <string>{320,150}</string>
            </dict>
            <key>smoke0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{304,68}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,43},{304,68}}</string>
                <key>sourceSize</key>
                <string>{320,150}</string>
            </dict>
            <key>smoke0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,98},{302,60}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,46},{302,60}}</string>
                <key>sourceSize</key>
                <string>{320,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>anim.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:56ed8f809252797b9c729fcabedff322:1/1$</string>
            <key>textureFileName</key>
            <string>anim.png</string>
        </dict>
    </dict>
</plist>
