<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,400},{162,120}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{162,120}}</string>
                <key>sourceSize</key>
                <string>{162,142}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,144},{162,132}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{162,132}}</string>
                <key>sourceSize</key>
                <string>{162,142}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,278},{162,122}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{162,122}}</string>
                <key>sourceSize</key>
                <string>{162,142}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,402},{162,118}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{162,118}}</string>
                <key>sourceSize</key>
                <string>{162,142}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,850},{162,112}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,30},{162,112}}</string>
                <key>sourceSize</key>
                <string>{162,142}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,686},{162,112}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,30},{162,112}}</string>
                <key>sourceSize</key>
                <string>{162,142}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{162,140}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{162,140}}</string>
                <key>sourceSize</key>
                <string>{162,142}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{162,116}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{162,116}}</string>
                <key>sourceSize</key>
                <string>{162,142}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{162,138}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{162,138}}</string>
                <key>sourceSize</key>
                <string>{162,142}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{162,126}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{162,126}}</string>
                <key>sourceSize</key>
                <string>{162,142}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,276},{162,122}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{162,122}}</string>
                <key>sourceSize</key>
                <string>{162,142}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{162,120}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{162,120}}</string>
                <key>sourceSize</key>
                <string>{162,142}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,142},{162,132}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{162,132}}</string>
                <key>sourceSize</key>
                <string>{162,142}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{162,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,142}}</string>
                <key>sourceSize</key>
                <string>{162,142}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{162,124}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{162,124}}</string>
                <key>sourceSize</key>
                <string>{162,142}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>test1.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a18c49f7cfb04e18a1a22a8d5f3e39f:1/1$</string>
            <key>textureFileName</key>
            <string>test1.png</string>
        </dict>
    </dict>
</plist>
